/* Hero section for home page and about page */

/*      */
/* HERO */
/*      */
#hero {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: calc(100vh - 64px);
    padding: 2rem;
    margin-top: 0;
}

#hero-container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* width: 100%; */
    height: 80%;
}

/*           */
/* HERO FACE */
/*           */
#hero-face-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-face {
    width: min(70%, 500px);
    height:auto;
    max-width: 800px;
}

.about-figure {
    width: min(70%, 350px);
    height:auto;
    max-width: 800px;
}

#hero-face-container img{
    position: absolute;
}

#hero-face-container img.is-visible {
    animation: fadeIn 0.5s forwards;
}

/* Hidden word sliding down */
#hero-face-container img.is-hidden {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    25% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*           */
/* HERO TEXT */
/*           */
#hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hi-there {
    width: min(50%, 240px);
}


#hero-name {
    font-size: clamp(2.5rem, 5vw, 5rem);
}

#hero-name-purple {
    color: var(--primary-color);
    /* stroke is likely not supported by IE browser */
    -webkit-text-stroke: 3px var(--primary-text);
}

#hero p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#hero .arrow {
    height: min(36px, 4vw);
    position: absolute;
    bottom: 2rem;
}


/*       */
/* ABOUT */
/*       */
#about-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 5rem;
    gap: 1rem;
}

#about-container .hero-face {
    width: min(50%, 400px);
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}



/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #hero-container, #about-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-face {
        width:min(70%, 360px);
    }
}



/*          */
/* SPIN TEXT*/
/*          */
.sp-words-wrapper {
    height: 2rem;
}
.sp-words-wrapper span {
    color: var(--primary-text);
    font-family: "Bungee", sans-serif;
    font-size: clamp(2rem, 3vw, 5rem);
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
}

/* Visible word sliding up */
.sp-words-wrapper span.is-visible {
    animation: slideIn 0.5s forwards;
}

/* Hidden word sliding down */
.sp-words-wrapper span.is-hidden {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}